<!-- Hecho por Samuel Castillo -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Italianno' rel='stylesheet'>
    <link rel="stylesheet" href="/stylesheets/document.css">
    <title>Britta</title>
</head>
<body>
    <div id="cortina"></div>
    <div id="cortina-derecha"></div>
    <header class="encabezado">
        <h1>Alan Turing</h1>
        <div>
            <button id="regresar">
                <img src="/images/left_arrow_claro.png" alt="flecha">
            </button>
        </div>
    </header>
    <main>
        <figure>
            <img src="https://content.nationalgeographic.com.es/medio/2019/05/30/alan-turing_903af6fe_1280x1569.jpg" alt="foto">
        </figure>
        <article>
            <header>
                <h2 class="titulo">Alan Turing</h2>
                <div>
                    <span class="etiquetas"></span>
                </div>
                <div class="datos">
                    <div class="autor">
                        <figure>
                            <img src="https://content.nationalgeographic.com.es/medio/2019/05/30/alan-turing_903af6fe_1280x1569.jpg" alt="">
                        </figure>
                        <span>Alan Turing</span>
                    </div>
                    <div class="fecha">
                        <span>12 de enero de 2012</span>
                    </div>
                </div>
            </header>
            <p class="parrafos">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam at leo eget purus commodo maximus condimentum non lacus. Suspendisse a scelerisque leo. Aenean tincidunt iaculis volutpat. Sed ac nisi nec urna pharetra faucibus quis id nibh. Aenean arcu enim, blandit et leo sit amet, ullamcorper tristique urna. Maecenas elementum metus augue, at luctus sem dignissim et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi fermentum lorem ac rutrum suscipit. Suspendisse ut risus ex.
                Nunc blandit venenatis diam aliquam facilisis. Nam fringilla tortor at felis accumsan, quis posuere tortor consectetur. Integer iaculis, lectus sit amet vestibulum tincidunt, est quam pulvinar augue, ullamcorper ultricies dui ex et arcu. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Integer auctor tincidunt tincidunt. Nulla scelerisque mattis tincidunt. In libero nibh, dignissim ut elit at, hendrerit eleifend sapien. Praesent non elit vitae urna porta facilisis et a nibh. Duis tristique commodo ante, at maximus lorem tincidunt quis. Curabitur ultrices tellus id consequat volutpat.
                Mauris mattis, eros et consectetur pellentesque, enim nisi efficitur turpis, eget elementum nisi purus sit amet nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce a mauris urna. Nullam tellus turpis, blandit quis dictum in, malesuada sed justo. Proin aliquam pharetra gravida. Fusce pharetra neque ut massa porttitor, in mollis velit aliquet. Morbi eu urna et nunc volutpat lobortis. Nunc imperdiet sem eget lectus auctor ultrices vitae ac nulla.
                Vivamus elementum ligula ipsum, ac gravida odio sodales sit amet. In hac habitasse platea dictumst. Suspendisse potenti. Nunc ligula justo, feugiat sed pulvinar ac, scelerisque vel quam. Duis maximus consectetur turpis, ultricies blandit neque pellentesque at. Maecenas efficitur metus porttitor posuere vehicula. Aliquam viverra, lectus pulvinar pharetra sagittis, tellus enim pretium tellus, sit amet porta odio augue non erat. Nullam eget nibh felis. Fusce lacinia ex dolor, eget dapibus lacus porta eu. In vel elit lacinia, pharetra erat non, porttitor odio. Aliquam erat volutpat.
                Morbi sed tempus nisi, a lacinia urna. Duis fermentum elit eu augue maximus, ut hendrerit neque pulvinar. Donec est augue, lacinia nec nisl et, tristique sagittis felis. Donec posuere aliquet ligula, ut consequat elit tincidunt quis. Etiam gravida turpis velit, non suscipit libero faucibus ultricies. Nullam sollicitudin facilisis viverra. Ut viverra mi ante, quis porta tellus fermentum et. Praesent cursus diam a justo sagittis, id mollis augue condimentum.
                Morbi nibh massa, venenatis vel sagittis vel, accumsan et sapien. Maecenas malesuada pharetra sagittis. Vestibulum faucibus orci ex, eu hendrerit mauris fringilla et. Praesent nisi turpis, fringilla ut tortor in, consectetur cursus leo. Sed eu laoreet tellus. Praesent ullamcorper felis quis lectus eleifend, maximus vulputate diam tincidunt. Morbi sit amet lorem diam. In vitae orci malesuada, cursus massa eu, maximus ante. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean eget lectus eleifend, efficitur tellus eu, dignissim leo. Morbi in arcu ac ex laoreet tristique at et dolor. Maecenas semper tincidunt augue a eleifend. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aliquam accumsan, turpis a tempor rutrum, nibh enim mattis lectus, viverra placerat nisl nibh a metus. Etiam dictum cursus nibh, at viverra urna pretium suscipit.
                In iaculis volutpat nulla vel eleifend. In at augue varius, convallis sem et, ultrices est. Phasellus tristique magna sit amet metus vehicula bibendum. Ut sit amet malesuada ante, vitae eleifend urna. Pellentesque in tempor quam, ut semper mi. Nullam fermentum risus arcu, at maximus tellus sagittis eu. Mauris nec tincidunt lectus, sed facilisis dui. Pellentesque hendrerit aliquam magna, eget ornare risus tincidunt vitae.
                Sed ipsum metus, posuere dictum libero et, maximus tincidunt enim. Nulla nec ultricies ipsum. Donec sollicitudin congue porttitor. Fusce vitae nulla at justo blandit euismod eget viverra metus. Proin tristique eget libero nec ornare. Vivamus venenatis lacinia eleifend. Nam semper neque non eros commodo, sed cursus mauris cursus. Aliquam venenatis urna et risus euismod, non malesuada sapien tempor. Sed viverra, est sollicitudin euismod vehicula, ligula nisl malesuada sem, ac facilisis massa mi a nunc.
                Aliquam id purus mauris. Vivamus vulputate, elit in aliquet maximus, massa ipsum sodales felis, eget commodo felis elit eget nunc. Donec nec nisl eu metus luctus suscipit vitae vel dui. Aenean sodales imperdiet metus vel tempus. In congue dolor vitae felis vulputate, ac blandit nunc sagittis. Proin rhoncus enim eu ex mollis hendrerit. Duis dictum, odio vitae efficitur viverra, dui tortor ornare ipsum, vitae maximus ex risus id justo. Phasellus sodales augue sit amet lectus scelerisque finibus. Cras eleifend dolor ut mi dictum tristique. Suspendisse interdum rhoncus lacinia. Pellentesque dignissim ac orci ut dictum.
                Sed malesuada elit condimentum feugiat mattis. Ut fringilla orci sed convallis placerat. Suspendisse congue id odio a ultrices. Mauris id orci pellentesque, ultrices velit ac, sagittis quam. Vivamus tincidunt laoreet mi, a ornare leo consectetur et. Sed mollis diam tortor, in consequat dui commodo nec. Mauris ac pellentesque elit, quis feugiat felis. Integer lorem enim, mattis sed lacinia quis, faucibus a sem. Aliquam lobortis odio felis, vel semper risus finibus consectetur. Quisque magna orci, molestie vitae laoreet eu, facilisis sed justo. Ut mollis nibh eget blandit consectetur. Quisque vitae mauris et lacus aliquet porta non et nisi. Nullam mollis libero tortor, in semper eros porttitor et. Maecenas tellus odio, ullamcorper eget venenatis semper, placerat id mauris.</p>
        </article>
    </main>
    <script src="/javascripts/document.js"></script>
</body>
</html>