<!-- Hecho por José Correa -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Italianno' rel='stylesheet'>
    <link rel="stylesheet" href="stylesheets/landing.css">
    <title>Britta</title>
</head>
<body>
    <div id="tapa"></div>
    <div id="cortina"></div>
    <header class="encabezado">
        <h1>Britta</h1>
        <div>
            <button id="perfil" class="perfil">
                <img src="https://content.nationalgeographic.com.es/medio/2019/05/30/alan-turing_903af6fe_1280x1569.jpg" alt="Usuario">
            </button>
            <button class="buscar">
                <img src="images/search_icon.png" alt="search">
            </button>
        </div>
    </header>
    <div class="etiquetas-contenedor">
        <span class="etiquetas"></span>
    </div>
    <div class="contenido">
        <main>
            <h3 class="publicaciones-recientes">Publicaciones recientes</h3>
            <div class="publicaciones-barra"></div>
        </main>
        <div class="articulos"></div>
    </div>
    <script src="javascripts/landing.js"></script>
</body>
</html>