<!-- Hecho por Samuel castillo -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Italianno' rel='stylesheet'>
    <link rel="stylesheet" href="stylesheets/search.css">
    <title>Britta</title>
</head>
<body>
    <div id="cortina"></div>
    <header class="encabezado">
        <div>
            <button class="regresar" id="regresar">
                <img src="images/left_arrow_claro.png" alt="regresar">
            </button>
            <figure class="buscar-figure">
                <img src="images/search_icon_oscuro.png" alt="buscar">
            </figure>
        </div>
        <input type="text" class="buscar-input" placeholder="Buscar">
        <div>
            <button class="cerrar">
                <img src="images/cerrar_icon_oscuro.png" alt="cerrar">
            </button>
        </div>
    </header>
    <main class="articulos"></main>
    <script src="javascripts/search.js"></script>
</body>
</html>