<!-- Hecho por José Correa -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Italianno' rel='stylesheet'>
    <link rel="stylesheet" href="/stylesheets/user.css">
    <title>Britta</title>
</head>
<body>
    <div id="cortina"></div>
    <div id="tapa"></div>
    <div id="cortina-right"></div>
    <header class="encabezado">
        <h1 id="home-link">Britta</h1>
        <div>
            <button class="perfil">
                <img src="https://content.nationalgeographic.com.es/medio/2019/05/30/alan-turing_903af6fe_1280x1569.jpg" alt="Usuario">
            </button>
            <button class="buscar">
                <img src="/images/search_icon.png" alt="search">
            </button>
        </div>
    </header>
    <main>
        <div class="usuario">
            <div class="foto-usuario">
                <figure>
                    <img src="https://content.nationalgeographic.com.es/medio/2019/05/30/alan-turing_903af6fe_1280x1569.jpg" alt="">
                </figure>
            </div>
            <div class="datos">
                <h1>Alan Turing</h1>
                <span>Gustos y hobbies</span>
            </div>
        </div>
        <div class="publicaciones-recientes">
            <h3>Publicaciones recientes</h3>
            <div class="publicaciones-barras"></div>
        </div>
    </main>
    <div class="publicaciones">
        <h3 class="cantidad-trabajos">Trabajos realizados (5)</h3>
        <div class="articulos"></div>
    </div>
    <script src="/javascripts/user.js"></script>
</body>
</html>